APP_ENV=local

DB_HOST=localhost
DB_PORT=3305
DB_NAME=campus_vote_pro
DB_USER=root
DB_PASS=

MAIL_TRANSPORT=smtp
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=CampusVote Pro
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENCRYPTION=tls
